*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    text-transform: capitalize;
    color:#2c3e50;
}
/* ============ */
/* reuseable-code */
/* ============ */
section{
    margin-top:120px;
}
h2{
    font-size: 48px;
    font-weight: 900;
}
h4{
    font-size: 24px;
    font-weight: 500;
}
.textBox{
    font-size:20px;
    font-weight:400;
}
.btn{
    padding:18px 36px;
    border:none;
    border-radius: 5px;
}
.row{
    width:1320px;
    margin:0 auto;
}
/* ============ */
/* bannerArea */
/* ============ */
.bannerArea section{
    margin-top:50px;
}
.bannerRelative{
    height:600px;
    width:1320px;
    position:relative;
    background:radial-gradient(rgb(44, 58, 71,0.6),rgb(53, 59, 72,0.1)) ,url('../image/BannerImage.png');
}
.bannerTxtAbs{
    position:absolute;
    color:#f5f6fa;
    font-family: 'Merriweather', serif;
    text-align:center;
    width:632px;
    top:177px;
    left:344px;
}
.bannerTxtAbs h4{
    font-size:32px;
    font-weight:400;
}
.bannerTxtAbs h1{
    font-size:72px;
    font-weight:900;
    line-height:95px;
}
/* ============ */
/* offerArea */
/* ============ */
.offerArea .row{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.offerArea .textBox{
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin-bottom:48px;
}
.offerArea h2{
    font-size:88px;
    font-weight:700;
    color:crimson;
    margin:48px 0 5px 0;
}
.offerArea h5{
    font-size:24px;
    font-weight:500;
    color:crimson;
}
.offerArea h3{
    font-size:48px;
    font-weight:700;
}
.offerImg{
    height:500px;
    width:802.9px;
}
.offerImg img{
    height:100%;
    width:100%;
    object-fit:cover;
}
/* ============ */
/* invitationArea */
/* ============ */
.invitationArea{
    font-family: 'Inter', sans-serif;
    color:#ecf0f1;
}
.invitationImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background:linear-gradient(rgb(45, 52, 54,0.4),rgb(45, 52, 54,0.7)), url('../image/Vectorrr.png');
    background-size:cover;
    padding:126px 0 142px 123px;
}
.invitationArea h2{
    font-family: 'Merriweather', serif;
    font-size:64px;
    line-height:88px;
    letter-spacing: 7.04px;
    width:642px;
}
.invitationArea .textBox{
    font-size:18px;
    line-height:30px;
    width:697px;
    margin:24px 0 40px 0;
}
.invitationArea .btn{
    font-size:20px;
    font-weight:700;
    transition:ease-in 0.3s;
}
.invitationArea .btn:hover{
    cursor: pointer;
    background:#192a56;
    color:#ecf0f1;
}
.invitationYear{
    height:464px;
    width:319px;
}
.invitationYear img{
    height:100%;
    width:100%;
    object-fit:cover;
}
/* ============ */
/* rewardArea */
/* ============ */
.rewardBox{
    display:flex;
    justify-content:space-between;
    font-family: 'Inter', sans-serif;
}
.rewardBox div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:393px;
}
.rewardBox div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items:center;
    width:468px;
}
.rewardBox div:nth-child(3){
    transform:translateY(34px);
}
.rewardBox h4{
    color:#ff5252;
}
.rewardBox h2,
.rewardBox div:nth-child(3) h2{
    font-family: 'Merriweather', serif;
    margin:5px 0 22px 0;
}
.rewardBox div:nth-child(3) h2{
    color:#ff5252;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom:5px;
}
.rewardBox .textBox{
    line-height:32px;
    padding-left:3px;
}
.rewardImg{
    height:463px;
    width:463px;
}
.rewardImg img{
    height:100%;
    width:100%;
    padding:20px;
    border:10px solid crimson;
    border-radius:50%;
}
.rewardSecondImg{
    height:140px;
    width:140px;
    margin-top:43px;
}
.rewardSecondImg img{
    height:100%;
    width:100%;
    object-fit:contain;
    transform:translateX(-130px);
}
/* ============ */
/* portfolioArea */
/* ============ */
.portfolioArea .row:nth-child(2){
    margin-bottom:24px;
}
.portfolioArea h4{
    font-family: 'Inter', sans-serif;
    color:#ff5252;
}
.portfolioArea h2{
    font-family: 'Merriweather', serif;
    margin:16px 0 22px 0;
}
.portfolioArea .textBox{
    font-family:'Inter', sans-serif;
    width:896px;
    line-height:32px;
    margin-bottom: 48px;
}
.portfolioArea .portfolioGift{
    display: flex;
    justify-content:space-between;
}
.portfolioArea .portfolioBox{
    position:relative;
    height:450px;
    width:424px;
    overflow:hidden;
}
.portfolioArea .portfolioImg{
    position:absolute;
    top:0px;
    left:0px;
    width:424px;
    height:450px;
}
.portfolioImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.portfolioBox .imgInfo{
    position:absolute;
    top:-100%;
    left:0px;
    height:100%;
    width:100%;
    color:#f5f6fa;
    text-align:center;
    font-size:25px;
    font-weight:900;
    padding:27px 20px;
    font-family:'Inter', sans-serif;
    background:rgb(72, 219, 251,0.5);
    transition:ease-in-out 0.5s;
}
.portfolioBox:hover .imgInfo{
    top:50%;
}
.portfolioBox span{
    display: block;
    font-size:50px;
    margin-top:15px;
}
/* ============ */
/* contactArea */
/* ============ */
.contactArea .row{
    background-color:rgb(248, 239, 186,0.5);
    padding:80px 212px;
    display: flex;
    flex-direction:column;
    align-items:center;

}
.contactArea .contactImg{
    height:150px;
    width:150px;
}
.contactArea .contactImg img{
    height:100%;
    width:100%;
}
.contactArea h2{
    font-family: 'Merriweather', serif;
    margin:40px 0 22px 0;
}
.contactArea .textBox{
    font-family:'Inter', sans-serif;
    line-height:32px;
    text-align:center;
    margin-bottom:48px;
}
.contactArea .contactForm{
    position:relative;
    height: 72px;
    width: 648px;
}
.contactForm .inputField{
    position:absolute;
    height: 100%;
    width:100%;
}
.contactForm .inputField input{
    height:100%;
    width:68%;
    padding:25px 30px;
    border-radius:30px 0 0 30px;
    border:none;
}
.contactForm .inputField input[type="email"]::placeholder{
    font-family:'Inter', sans-serif;
    font-size: 18px;
    font-weight:400;
    padding: 25px 30px
}
.contactForm .btn{
    position:absolute;
    font-family:'Inter', sans-serif;
    font-size:20px;
    font-weight: 600;
    right:0px;
    height:100%;
    width: 210px;
    color: #f5f6fa;
    background:crimson;
    border-radius:0px 30px 30px 0px;
    transition: ease-in 0.3s;
}
.contactForm .btn:hover{
    background:#ff5252;
    cursor: pointer;
}
/* ============ */
/* footerArea */
/* ============ */
.footerArea{
    background-color:#192a56;
    color:#f5f6fa;
    padding:120px 0;
}
.footerArea .locationInfo,
.footerArea .socialLink,
.footerArea .terms{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.footerArea .locationInfo .textBox{
    font-family:'Inter', sans-serif;
    font-size:24px;
    font-weight:500;
    line-height:40px;
}
.footerArea .locationInfo .textBox a,
.footerArea .terms a{
    color:#f5f6fa;
    text-decoration:none;
}
.footerArea .locationInfo img{
    height:24px;
    width:24px;
    margin-right:5px;
    transform:translateY(5px);
}
.footerArea .row::after{
    content:'';
    display:table;
    height:1px;
    width:100%;
    margin:50px 0 48px 0;
    background:#487eb0;
}
.footerArea .row:last-child::after{
    content:none;
}
.footerArea .socialLink {
    margin-top:48px;
    justify-content: center;
}
.footerArea .socialLink div {
    height:64px;
    width:64px;
    margin-right:24px;
}
.footerArea .socialLink div img{
    height:100%;
    width:100%;
    object-fit:contain;
    transition:ease-in 0.3s;
}
.footerArea .socialLink div:hover img{
    height: 80%;
    width: 80%;
}
.footerArea .socialLink div:last-child{
    margin-right:0px;
}
.footerArea .terms{
    font-family:'Inter', sans-serif;
    font-size:24px;
    font-weight:500;
}
.footerArea .terms a{
    transition:ease-in 0.3s;
}
.footerArea .terms a:hover{
    color:#ff5252;
}